{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot Garage{% endblock %}


{% block body %}


    {% block content %}
    <h1 class="m-5 text-center">Page à venir...</h1>
    {% endblock %}
