{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot Garage - Entretien et dépannage{% endblock %}

{% block body %}

    <div class="container">
        <div class="m-5">
            <h2 class="text-center">Rachat de votre véhicule</h2>
        </div>
        <div class="w-75 m-auto">

            <div class=" card text-white bg-primary mb-4 p-3">
                <p>Chez Parrot Garage, nous proposons également le service de rachat de véhicules sans obligation d'achat. Si vous souhaitez vendre votre véhicule, nous sommes 
                prêts à évaluer son état et à vous faire une offre équitable.</p>
                <ol>
                    <li class="p-3">Évaluation du véhicule : Vous pouvez nous contacter pour fixer un rendez-vous afin que nous puissions évaluer votre véhicule. Notre équipe d'experts 
                    examinera attentivement l'état général de votre véhicule, y compris son état mécanique, son kilométrage, son apparence extérieure et intérieure, ainsi 
                    que d'autres facteurs pertinents.</li>
                    <li class="p-3">Offre d'achat : Sur la base de notre évaluation, nous vous ferons une offre d'achat pour votre véhicule. Cette offre sera basée sur plusieurs facteurs 
                    tels que l'état du véhicule, sa demande sur le marché, sa marque et son modèle, etc. Nous nous efforçons de faire une offre juste et compétitive.</li>
                    <li class="p-3">Décision de votre part : Vous aurez le temps de réfléchir à notre offre et de prendre une décision quant à son acceptation. Nous comprenons que cela 
                    peut nécessiter une réflexion et nous respecterons votre choix, que vous décidiez de vendre votre véhicule ou non.</li>
                </ol>
            </div>

            <p class="alert alert-info p-3">Si vous décidez de vendre votre véhicule, nous procéderons aux démarches administratives nécessaires pour finaliser la transaction, y compris la signature 
            des documents de vente et le transfert de propriété.</p>

        </div>
    </div>

{% endblock %}

