{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot Garage - Les prestations{% endblock %}

{% block body %}
    <div class='btn btn-primary m-5 btn-sm' type="button">
        <a href="/services" class="text-white">Retour</a>
    </div>

    <div class="container">
        <h1 class="m-5 text-center">Ajouter une prestation</h1>
        {{ form_start(formView)}}
        {{ form_row(formView)}}
        <button class="btn btn-primary m-3" type="submit">Sauvegarder</button>
        {{ form_end(formView)}}
    </div>

{% endblock %}