{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Contactez-nous !</h1>
        <p>Nous vous répondrons dans les plus bref délais. A bientôt !</p>
        {{ form_start(formView) }}
        {{ form_rest(formView) }}
        <input type="submit" value ="Envoyer" class="btn btn-primary btn-sm">
    </div>
{% endblock %}
