{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container w-75">
        {{ form_start(formView) }}
            {{ form_row(formView) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(formView) }}
    </div>

{% endblock %}